body{
  text-align: center;
  font-family: 'Montserrat', sans-serif ;
  /* background-color: #ff4c68 ; */

}

#title{
  background-color: #ff4c68 ;
  color: white;
}

div{
  margin-top: 0;
  /* margin-bottom: 2rem; */
}

/* navigation */
.navbar-brand{
  font-size: 3rem !important;
}

.navbar{
  padding: 0 0 4rem !important;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.5rem;
}

.container-fluid{
  padding: 1% 15%
}

.Upload-text{
  text-align: left;
  padding-bottom: 2rem;
}

/* div */
.img-div{
  margin: 0.5rem 0;
}

.image-preview {
  width: 70%;
  height: 70%;
  border: 2px solid lightgrey;
  /* margin-top: 15px; */
  margin: 2% 10%;


  /* display text */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: lightgrey;
  display: none;
}

.image-preview-image {

  width: 100%;
  height: 100%;
  text-align: center;

}

.row{

  padding: 3% 15%;
  margin-right: 0;
  margin-left: 0;


}

/* predicted-text */
.pred-text{

  text-align: left;
  margin: 10rem 0;
}

.pred-head{
  margin: 2rem 4rem;

}

.pred-h1{

display: none;
}

/* media query */

@media (max-width: 1020px) {
  .pred-text{
    text-align: center;
  }

}

/* testimonial */

#testimonials{
  text-align: center;
  color: white;
  background-color: cadetblue;
}

.test-div{
  padding: 5% 15%;

}

.test-img{
  width: 40%;
  height: 20rem;
  margin: 3rem;
  border: 5px solid lightgrey;
  /* border-radius: 100%; */
}

/* features */

#features{
  text-align: center;
  padding: 5% 15%;
  background-color: white;
}

.fff {
    font-size: 3rem !important;
}

.fa-github{
  color: black;
}

.fa-network-wired{
  color: #5a3d55;
}

.fa-img{
  width: 58px;
  height: 52px;
}

.fff:hover{
  color: #ff847c;
}

.fea-para{
  color: #8f8f8f;
}

.fea-margin{
  padding: 2% 7% !important;
}

.fea-h3{
  /* font-weight: bold; */
  margin: 1.5rem;
}



/* footer */

#footer{
  text-align: center;
  padding: 3% 1%;
  background-color: #ff4c68 ;
  color: white;
}

.foot-btn{
  margin: 1rem;
  color: #f4f4f4;
}
